
.navbar{

  .nav-link{
    font-size: 14px;
    margin: 0px 8px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: var(--white-600); 
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0px;
      transition: width 0.3s; 
    }
    &:hover::after { // 
      width: 100%;
    }
  }

  .navbar-collapse{
    justify-content: center;
    .navbar-nav{
      align-items: center;
    }
  }
  .logo{
    margin: 0 15px;
    &:hover{
      transition-property: all;
      transition-duration: 1s;
      transform: scale(1.05);
    }
  }
}
