:root {
  --clr-black: #0a0a0a;
  --clr-dark: #282828;
  --clr-gray-dark: #5e5e5e;
  --clr-gray: #c5c5c5;
  --clr-white: #ffffff;
  --clr-red: #cd4444;
  --clr-green:  #18a362;
  --clr-blue: #3d71d1c1;
  --clr-orange:  #ff8000;
}
